body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.column-search-bar .ui.icon.input {
  width: 250px;
}

#cont {
  max-width: 1200px !important;
}

#consoleBox {
  display: flex;
  justify-content: center;
}

#console {
  position: fixed;
  padding-bottom: 11px;
  padding-top: 11px;
  bottom: 0;
  width: 80%;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip.error .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip.noerror:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.error input {
  border: 1px solid red !important;
}
