body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.column-search-bar .ui.icon.input {
  width: 250px;
}

#cont {
  max-width: 1200px !important;
}

#consoleBox {
  display: flex;
  justify-content: center;
}

#console {
  position: fixed;
  padding-bottom: 11px;
  padding-top: 11px;
  bottom: 0;
  width: 80%;
  text-align: center;
}
